<!doctype html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script>
        angular.module('app1', []).run(['$rootScope', function($rootScope) {
            $rootScope.val1 = 'abc';
        }]);
    </script>
</head>
<body>

<div ng-app="app1">
    <label>Name:</label>
    <input type="text" ng-model="val1" placeholder="Enter a name here">
    <hr>
    <h1>Hello {{val1}}!</h1>
</div>

<div>
    <label>Name:</label>
    <input type="text" ng-model="val1" placeholder="Enter a name here">
    <hr>
    <h1>Hello {{val1}}!</h1>
</div>

</body>
</html>